INSTALL.txt
LICENSE.txt
README.txt
demos/
extras/documentation

library/*
library
application/configs/application.ini
wifi-hardware.com/static/default/upload/images/*
wifi-hardware.com/tmp/adminka_images/*

.idea/*
.idea


